
.login-wrapper {
    min-height: 100vh; /* Asegura que ocupe al menos el 100% de la altura de la pantalla */
    width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    flex-direction: column; /* Colocar elementos en columna */
    background-color: #a6d7c8; /* Fondo de tu preferencia */
    overflow: hidden; /* Evita el scroll innecesario */
    margin: 0; /* Elimina cualquier margen interno */
    padding: 0; /* Elimina cualquier padding interno */
}


button {
    background-color: #007BFF; /* Fondo azul */
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgb(46, 169, 218); /* Sombra ligera */
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}



.logo {
    width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Mantén la proporción de la imagen */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

.button-logout {
    background-color: #dc3545; /* Fondo rojo */
}

.button-logout:hover {
    background-color: #c82333; /* Fondo rojo más oscuro */
}


/* login.css */
.button-logout {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /* login.css */
.error-text {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}


.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
  }

  