

quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 38, 0);
    padding: 2rem;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}
.quiz-header{
    font-size: 2rem;
    
}
.quizp-progress{
    font-size: larger;
}
