.profile-container {
    padding: 20px;
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
  }
  
  .profile-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .profile-container p {
    font-size: 1.2em;
  }