/* Home.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1d3af8;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title {
  font-size: 1.2em;
  line-height: 1.1;
  text-align: center;
}

.canvas-container {
  width: 50vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  width: 100%;
  height: 100vh; /* Asegura que ocupe toda la pantalla */
}

.header-container {
  text-align: center;
  margin-top: 20px;
  
}

.NameTeam {
  margin: 0;
}

.SloganTeam {
  margin: 0;
}

.content-container {
  flex: 1; /* Permite que el contenedor del contenido ocupe espacio proporcional */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  align-items: center;
  justify-content: center;
  padding: 4px;
}